@-webkit-keyframes origami {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  30% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(45deg) scale(1.41421);
            transform: rotate(45deg) scale(1.41421);
  }
}

@keyframes origami {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  30% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(45deg) scale(1.41421);
            transform: rotate(45deg) scale(1.41421);
  }
}

@-webkit-keyframes piece-1 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotateZ(45deg) rotateY(0deg);
            transform: translate(-50%, -50%) rotateZ(45deg) rotateY(0deg);
  }
  51% {
    -webkit-transform: translate(-50%, -50%) rotateZ(45deg) rotateY(180deg);
            transform: translate(-50%, -50%) rotateZ(45deg) rotateY(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateZ(45deg) rotateY(180deg);
            transform: translate(-50%, -50%) rotateZ(45deg) rotateY(180deg);
  }
}

@keyframes piece-1 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotateZ(45deg) rotateY(0deg);
            transform: translate(-50%, -50%) rotateZ(45deg) rotateY(0deg);
  }
  51% {
    -webkit-transform: translate(-50%, -50%) rotateZ(45deg) rotateY(180deg);
            transform: translate(-50%, -50%) rotateZ(45deg) rotateY(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateZ(45deg) rotateY(180deg);
            transform: translate(-50%, -50%) rotateZ(45deg) rotateY(180deg);
  }
}

@-webkit-keyframes piece-1-bg {
  0% {
    fill: #ffff00;
  }
  51% {
    fill: #ffe000;
  }
  100% {
    fill: #ffff00;
  }
}

@keyframes piece-1-bg {
  0% {
    fill: #ffff00;
  }
  51% {
    fill: #ffe000;
  }
  100% {
    fill: #ffff00;
  }
}

@-webkit-keyframes piece-2 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotateZ(135deg) rotateY(0deg);
            transform: translate(-50%, -50%) rotateZ(135deg) rotateY(0deg);
  }
  8% {
    -webkit-transform: translate(-50%, -50%) rotateZ(135deg) rotateY(0deg);
            transform: translate(-50%, -50%) rotateZ(135deg) rotateY(0deg);
  }
  59% {
    -webkit-transform: translate(-50%, -50%) rotateZ(135deg) rotateY(180deg);
            transform: translate(-50%, -50%) rotateZ(135deg) rotateY(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateZ(135deg) rotateY(180deg);
            transform: translate(-50%, -50%) rotateZ(135deg) rotateY(180deg);
  }
}

@keyframes piece-2 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotateZ(135deg) rotateY(0deg);
            transform: translate(-50%, -50%) rotateZ(135deg) rotateY(0deg);
  }
  8% {
    -webkit-transform: translate(-50%, -50%) rotateZ(135deg) rotateY(0deg);
            transform: translate(-50%, -50%) rotateZ(135deg) rotateY(0deg);
  }
  59% {
    -webkit-transform: translate(-50%, -50%) rotateZ(135deg) rotateY(180deg);
            transform: translate(-50%, -50%) rotateZ(135deg) rotateY(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateZ(135deg) rotateY(180deg);
            transform: translate(-50%, -50%) rotateZ(135deg) rotateY(180deg);
  }
}

@-webkit-keyframes piece-2-bg {
  0% {
    fill: #ffff00;
  }
  8% {
    fill: #ffff00;
  }
  59% {
    fill: #ffe000;
  }
  100% {
    fill: #ffff00;
  }
}

@keyframes piece-2-bg {
  0% {
    fill: #ffff00;
  }
  8% {
    fill: #ffff00;
  }
  59% {
    fill: #ffe000;
  }
  100% {
    fill: #ffff00;
  }
}

@-webkit-keyframes piece-3 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotateZ(225deg) rotateY(0deg);
            transform: translate(-50%, -50%) rotateZ(225deg) rotateY(0deg);
  }
  16% {
    -webkit-transform: translate(-50%, -50%) rotateZ(225deg) rotateY(0deg);
            transform: translate(-50%, -50%) rotateZ(225deg) rotateY(0deg);
  }
  65% {
    -webkit-transform: translate(-50%, -50%) rotateZ(225deg) rotateY(180deg);
            transform: translate(-50%, -50%) rotateZ(225deg) rotateY(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateZ(225deg) rotateY(180deg);
            transform: translate(-50%, -50%) rotateZ(225deg) rotateY(180deg);
  }
}

@keyframes piece-3 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotateZ(225deg) rotateY(0deg);
            transform: translate(-50%, -50%) rotateZ(225deg) rotateY(0deg);
  }
  16% {
    -webkit-transform: translate(-50%, -50%) rotateZ(225deg) rotateY(0deg);
            transform: translate(-50%, -50%) rotateZ(225deg) rotateY(0deg);
  }
  65% {
    -webkit-transform: translate(-50%, -50%) rotateZ(225deg) rotateY(180deg);
            transform: translate(-50%, -50%) rotateZ(225deg) rotateY(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateZ(225deg) rotateY(180deg);
            transform: translate(-50%, -50%) rotateZ(225deg) rotateY(180deg);
  }
}

@-webkit-keyframes piece-3-bg {
  0% {
    fill: #ffff00;
  }
  16% {
    fill: #ffff00;
  }
  65% {
    fill: #ffe000;
  }
  100% {
    fill: #ffff00;
  }
}

@keyframes piece-3-bg {
  0% {
    fill: #ffff00;
  }
  16% {
    fill: #ffff00;
  }
  65% {
    fill: #ffe000;
  }
  100% {
    fill: #ffff00;
  }
}

@-webkit-keyframes piece-4 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotateZ(315deg) rotateY(0deg);
            transform: translate(-50%, -50%) rotateZ(315deg) rotateY(0deg);
  }
  24% {
    -webkit-transform: translate(-50%, -50%) rotateZ(315deg) rotateY(0deg);
            transform: translate(-50%, -50%) rotateZ(315deg) rotateY(0deg);
  }
  75% {
    -webkit-transform: translate(-50%, -50%) rotateZ(315deg) rotateY(180deg);
            transform: translate(-50%, -50%) rotateZ(315deg) rotateY(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateZ(315deg) rotateY(180deg);
            transform: translate(-50%, -50%) rotateZ(315deg) rotateY(180deg);
  }
}

@keyframes piece-4 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotateZ(315deg) rotateY(0deg);
            transform: translate(-50%, -50%) rotateZ(315deg) rotateY(0deg);
  }
  24% {
    -webkit-transform: translate(-50%, -50%) rotateZ(315deg) rotateY(0deg);
            transform: translate(-50%, -50%) rotateZ(315deg) rotateY(0deg);
  }
  75% {
    -webkit-transform: translate(-50%, -50%) rotateZ(315deg) rotateY(180deg);
            transform: translate(-50%, -50%) rotateZ(315deg) rotateY(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateZ(315deg) rotateY(180deg);
            transform: translate(-50%, -50%) rotateZ(315deg) rotateY(180deg);
  }
}

@-webkit-keyframes piece-4-bg {
  0% {
    fill: #ffff00;
  }
  24% {
    fill: #ffff00;
  }
  75% {
    fill: #ffe000;
  }
  100% {
    fill: #ffff00;
  }
}

@keyframes piece-4-bg {
  0% {
    fill: #ffff00;
  }
  24% {
    fill: #ffff00;
  }
  75% {
    fill: #ffe000;
  }
  100% {
    fill: #ffff00;
  }
}

.origami {
  position: relative;
  width: 100%;
  padding-top: 100%;
  -webkit-animation-name: origami;
          animation-name: origami;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.origami__piece {
  position: absolute;
  width: 70.71068%;
  height: 70.71068%;
  z-index: 1;
}

.origami__piece:nth-of-type(1) {
  left: 25%;
  top: 25%;
  -webkit-transform: translate(-50%, -50%) rotateZ(45deg) rotateY(0deg);
          transform: translate(-50%, -50%) rotateZ(45deg) rotateY(0deg);
  -webkit-animation-name: piece-1;
          animation-name: piece-1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.origami__piece:nth-of-type(1) .bg {
  -webkit-animation-name: piece-1-bg;
          animation-name: piece-1-bg;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.origami__piece:nth-of-type(2) {
  left: 75%;
  top: 25%;
  -webkit-transform: translate(-50%, -50%) rotateZ(135deg) rotateY(0deg);
          transform: translate(-50%, -50%) rotateZ(135deg) rotateY(0deg);
  -webkit-animation-name: piece-2;
          animation-name: piece-2;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.origami__piece:nth-of-type(2) .bg {
  -webkit-animation-name: piece-2-bg;
          animation-name: piece-2-bg;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.origami__piece:nth-of-type(3) {
  left: 75%;
  top: 75%;
  -webkit-transform: translate(-50%, -50%) rotateZ(225deg) rotateY(0deg);
          transform: translate(-50%, -50%) rotateZ(225deg) rotateY(0deg);
  -webkit-animation-name: piece-3;
          animation-name: piece-3;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.origami__piece:nth-of-type(3) .bg {
  -webkit-animation-name: piece-3-bg;
          animation-name: piece-3-bg;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.origami__piece:nth-of-type(4) {
  left: 25%;
  top: 75%;
  -webkit-transform: translate(-50%, -50%) rotateZ(315deg) rotateY(0deg);
          transform: translate(-50%, -50%) rotateZ(315deg) rotateY(0deg);
  -webkit-animation-name: piece-4;
          animation-name: piece-4;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.origami__piece:nth-of-type(4) .bg {
  -webkit-animation-name: piece-4-bg;
          animation-name: piece-4-bg;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.origami__piece .bg {
  fill: #ffff00;
}

.origami:before {
  position: absolute;
  display: block;
  content: "";
  width: 70.71068%;
  height: 70.71068%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateZ(45deg);
          transform: translate(-50%, -50%) rotateZ(45deg);
  background: #ffff00;
}

.origami__inner {
  position: absolute;
  width: 70.71068%;
  height: 70.71068%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateZ(45deg);
          transform: translate(-50%, -50%) rotateZ(45deg);
}

#header {
  position: fixed;
  height: 40px;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#header.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#name {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 40px;
  font-size: 14px;
  padding: 0 20px;
}

#logo {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background: #ffff00;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
}

#logo:after {
  display: block;
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  background: #ffe000;
}

.global-width {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.homepage_paragraph__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.homepage_paragraph__dexcription {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

@-webkit-keyframes menu_lined {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}

@keyframes menu_lined {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}

.homepage_feature__menu {
  position: relative;
  left: 0;
  width: 100%;
  margin-top: 1em;
}

.homepage_feature__menu_lined {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e7e1e7;
  height: 40px;
}

.homepage_feature__menu_lined--fixed {
  margin-top: 0 !important;
  border-bottom: none;
}

.homepage_feature__menu_item {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  width: 4em;
  text-align: center;
  color: #7b7b7b;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1rem;
  line-height: 40px;
  padding: 0 1em;
}

@media (max-width: 1200px) {
  .homepage_feature__menu_item {
    font-size: 1.5vw;
  }
}

@media (max-width: 960px) {
  .homepage_feature__menu_item {
    font-size: 1.8vw;
  }
}

@media (max-width: 640px) {
  .homepage_feature__menu_item {
    font-size: 2.5vw;
  }
}

.homepage_feature__menu_item--fixed {
  width: 25%;
}

.homepage_feature__menu_item--active {
  font-weight: 300;
  color: #ffbc02;
}

.homepage_feature__menu_item :hover {
  font-weight: 500;
  color: #646464;
  border-bottom: 1px solid #ffbc02;
}

@media all and (min-width: 1300px) {
  .homepage_paragraph {
    padding-left: 11px;
  }
  .homepage_paragraph__title {
    margin-bottom: 16px;
  }
  .homepage_paragraph__title, .homepage_paragraph__dexcription {
    font-size: 18.9px;
  }
  .homepage_feature__menu_lined {
    height: 40px;
  }
  .homepage_feature__menu_item {
    line-height: 40px;
  }
}

@media all and (max-width: 1300px) {
  .homepage_paragraph {
    padding-left: 0.84615vw;
  }
  .homepage_paragraph__title {
    margin-bottom: 1vw;
  }
  .homepage_paragraph__title, .homepage_paragraph__dexcription {
    font-size: 21.9px;
  }
}

#about {
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about_profile {
  position: relative;
  width: 100%;
  padding-top: 100%;
  border-radius: 100%;
  background: #f1f1f5;
}

.about_minor {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;
}

.about_major {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

.about_row_title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}
/*# sourceMappingURL=home.css.map */