.topics {
  position: relative;
  width: 100%;
  padding-top: 91.1956%;
  background: #fff;
}

.topics-typo {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 140vw;
  color: #e5e5e4;
}

.TRex {
  position: relative;
  width: calc(100% - 1.25vw);
  padding-top: 64.94%;
  background: #fff;
  z-index: 1;
}

.Trex__bg {
  background: #f5b855;
  margin-left: 1.25vw;
  margin-top: 1.25vw;
}

.pwa {
  position: relative;
  width: 100%;
  padding-top: 101.208%;
  background: #4d84f1;
  left: -1.25vw;
}

.pwa__guide {
  width: auto;
  border: 1px solid #4d84f1;
}

.questions {
  position: relative;
  width: 100%;
  padding-top: 90.9374%;
  left: 1.25vw;
}

.chrome {
  position: relative;
  width: 100%;
  padding-top: 57%;
  z-index: 1;
}

.post--dummy {
  position: relative;
  width: 100%;
  padding-top: 46.557%;
  background: #ececf0;
}

.post--dummy .post--dummy__inner {
  height: 100%;
}

.post--dummy .lines {
  width: 79.47%;
}

.post--dummy .line {
  width: 100%;
  padding-top: 4.416%;
  background: #dcdce2;
  margin-bottom: 4.416%;
}

.post--dummy .line:nth-of-type(3) {
  width: 61.8%;
}

.post--dummy .line:nth-of-type(4) {
  width: 38.19%;
}

.fb-like {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background: #ffffff;
  z-index: 1;
}

.text-increasing {
  position: relative;
  width: 100%;
  padding-top: 42.6234%;
}

.dot-bg {
  position: relative;
  width: 100%;
  padding-top: 133.3333%;
}

.flip_container {
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  width: 100%;
  padding-top: 25.83%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.flip {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.flip:hover {
  -webkit-transform: scale(0.8) rotateX(90deg);
          transform: scale(0.8) rotateX(90deg);
}

.flip figure {
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

.flip figure.front {
  -webkit-transform: translateZ(5vw);
          transform: translateZ(5vw);
}

.flip figure.back {
  -webkit-transform: rotateX(-90deg) translateZ(5vw);
          transform: rotateX(-90deg) translateZ(5vw);
}

.idea .title {
  font-size: 41.94px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.idea .title--orange {
  color: #f4b755;
}

.idea .title--blue {
  color: #4d84f1;
}

.idea .title--green {
  color: #35e085;
}

.idea .title--center {
  text-align: center;
}

@media (max-width: 60em) {
  .idea .title {
    font-size: 30px;
  }
}

@media (max-width: 40em) {
  .idea .title {
    font-size: 24px;
  }
}

.idea .desc--below {
  margin-top: 2vw;
}

.phone-portrait {
  position: relative;
  width: 100%;
  padding-top: 241.91941%;
}

.phone-portrait__frame {
  width: 123.121569%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-left: 50%;
}

.phone-portrait__screen {
  position: relative;
  margin-top: 32.3%;
  width: 100%;
  padding-top: 177.8666%;
}

.phone-portrait__fade {
  width: 123.121569%;
  height: 60%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-left: 50%;
}

.phone-landscape {
  position: relative;
  width: 100%;
  padding-top: 56.2218%;
}

.phone-landscape:before {
  position: absolute;
  content: '';
  width: 122.5576%;
  height: 100%;
  left: -11.278826%;
  top: 0;
  border-radius: 3.6558vw;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
  -webkit-transition: -webkit-box-shadow .2s;
  transition: -webkit-box-shadow .2s;
  transition: box-shadow .2s;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
}

.phone-landscape:hover:before {
  -webkit-box-shadow: 0px 12px 49px -18px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 49px -18px rgba(0, 0, 0, 0.3);
}

.game * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.game_transition_status {
  margin-bottom: -11vw;
  overflow: hidden;
}

.game_transition_status__item {
  position: relative;
}

/**
for game bg animation
 */
@-webkit-keyframes gameBg {
  from {
    margin-left: 0;
  }
  to {
    margin-left: -50%;
  }
}
@keyframes gameBg {
  from {
    margin-left: 0;
  }
  to {
    margin-left: -50%;
  }
}

@-webkit-keyframes bird {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}

@keyframes bird {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}

.game_bg {
  width: 200%;
  top: 20%;
}

.game_bg__front {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-name: gameBg;
  animation-name: gameBg;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.game_bg__back {
  -webkit-animation-duration: 25s;
  animation-duration: 25s;
  -webkit-animation-name: gameBg;
  animation-name: gameBg;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.game_bg__cloud {
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-name: gameBg;
  animation-name: gameBg;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.birds_1 {
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-name: bird;
  animation-name: bird;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.birds_2 {
  -webkit-animation-duration: 25s;
  animation-duration: 25s;
  -webkit-animation-name: bird;
  animation-name: bird;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.birds_3 {
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-animation-name: bird;
  animation-name: bird;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.presentation {
  position: relative;
  width: 100%;
  padding-top: 61.8038%;
  background: #fff;
}

.selection_tile {
  margin-bottom: -32vw;
  margin-top: 13vw;
}

.selection_img {
  position: relative;
  padding-top: 100%;
  left: -17vw;
}

.brand_icons {
  margin-top: -22vw;
}

.branch_img {
  margin-top: -42.4vw;
  margin-bottom: 42.4vw;
}

.live_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.live_icon--left {
  margin-left: -25vw;
}

.live_icon--right {
  margin-left: 25vw;
}

.live_phone__inner {
  z-index: 1;
}

.project1 {
  position: relative;
  width: 100%;
  padding-top: 41.666%;
}

.project2 {
  position: relative;
}

.project2__hand {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  background: #000;
}

.project2__navigation {
  padding-top: 50.8333%;
  background: #f8f8ff;
}

.project2__branching {
  padding-top: 50%;
}

.project2__gesture {
  padding-top: 42%;
  background: #222222;
}

@media (max-width: 60em) {
  .project2__gesture {
    padding-top: 52%;
  }
}

@media (max-width: 40em) {
  .project2__gesture {
    padding-top: 62%;
  }
}

.project3 {
  position: relative;
  width: 100%;
  background-color: #ecf0ec;
}
/*# sourceMappingURL=ndf.css.map */