.block-hide {
  display: none;
}

@media only screen and (max-width: 640px) {
  .block-show-max-sm {
    display: block;
  }
}

@media only screen and (min-width: 640px) {
  .block-show-min-sm {
    display: block;
  }
}

@media only screen and (max-width: 640px) {
  .block-hide-max-sm {
    display: none;
  }
}

@media only screen and (min-width: 640px) {
  .block-hide-min-sm {
    display: none;
  }
}

@media only screen and (max-width: 960px) {
  .block-show-max-md {
    display: block;
  }
}

@media only screen and (min-width: 960px) {
  .block-show-min-md {
    display: block;
  }
}

@media only screen and (max-width: 960px) {
  .block-hide-max-md {
    display: none;
  }
}

@media only screen and (min-width: 960px) {
  .block-hide-min-md {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .block-show-max-lg {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  .block-show-min-lg {
    display: block;
  }
}

@media only screen and (max-width: 1200px) {
  .block-hide-max-lg {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .block-hide-min-lg {
    display: none;
  }
}

.col-xs-1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 4.16667%;
  flex-basis: 4.16667%;
  max-width: 4.16667%;
}

.col-xs-offset-1 {
  margin-left: 4.16667%;
}

.col-xs-offset-reverse-1 {
  margin-left: -4.16667%;
}

.col-xs-2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 8.33333%;
  flex-basis: 8.33333%;
  max-width: 8.33333%;
}

.col-xs-offset-2 {
  margin-left: 8.33333%;
}

.col-xs-offset-reverse-2 {
  margin-left: -8.33333%;
}

.col-xs-3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 12.5%;
  flex-basis: 12.5%;
  max-width: 12.5%;
}

.col-xs-offset-3 {
  margin-left: 12.5%;
}

.col-xs-offset-reverse-3 {
  margin-left: -12.5%;
}

.col-xs-4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 16.66667%;
  flex-basis: 16.66667%;
  max-width: 16.66667%;
}

.col-xs-offset-4 {
  margin-left: 16.66667%;
}

.col-xs-offset-reverse-4 {
  margin-left: -16.66667%;
}

.col-xs-5 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 20.83333%;
  flex-basis: 20.83333%;
  max-width: 20.83333%;
}

.col-xs-offset-5 {
  margin-left: 20.83333%;
}

.col-xs-offset-reverse-5 {
  margin-left: -20.83333%;
}

.col-xs-6 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-offset-6 {
  margin-left: 25%;
}

.col-xs-offset-reverse-6 {
  margin-left: -25%;
}

.col-xs-7 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 29.16667%;
  flex-basis: 29.16667%;
  max-width: 29.16667%;
}

.col-xs-offset-7 {
  margin-left: 29.16667%;
}

.col-xs-offset-reverse-7 {
  margin-left: -29.16667%;
}

.col-xs-8 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 33.33333%;
  flex-basis: 33.33333%;
  max-width: 33.33333%;
}

.col-xs-offset-8 {
  margin-left: 33.33333%;
}

.col-xs-offset-reverse-8 {
  margin-left: -33.33333%;
}

.col-xs-9 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 37.5%;
  flex-basis: 37.5%;
  max-width: 37.5%;
}

.col-xs-offset-9 {
  margin-left: 37.5%;
}

.col-xs-offset-reverse-9 {
  margin-left: -37.5%;
}

.col-xs-10 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 41.66667%;
  flex-basis: 41.66667%;
  max-width: 41.66667%;
}

.col-xs-offset-10 {
  margin-left: 41.66667%;
}

.col-xs-offset-reverse-10 {
  margin-left: -41.66667%;
}

.col-xs-11 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 45.83333%;
  flex-basis: 45.83333%;
  max-width: 45.83333%;
}

.col-xs-offset-11 {
  margin-left: 45.83333%;
}

.col-xs-offset-reverse-11 {
  margin-left: -45.83333%;
}

.col-xs-12 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-offset-12 {
  margin-left: 50%;
}

.col-xs-offset-reverse-12 {
  margin-left: -50%;
}

.col-xs-13 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 54.16667%;
  flex-basis: 54.16667%;
  max-width: 54.16667%;
}

.col-xs-offset-13 {
  margin-left: 54.16667%;
}

.col-xs-offset-reverse-13 {
  margin-left: -54.16667%;
}

.col-xs-14 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 58.33333%;
  flex-basis: 58.33333%;
  max-width: 58.33333%;
}

.col-xs-offset-14 {
  margin-left: 58.33333%;
}

.col-xs-offset-reverse-14 {
  margin-left: -58.33333%;
}

.col-xs-15 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 62.5%;
  flex-basis: 62.5%;
  max-width: 62.5%;
}

.col-xs-offset-15 {
  margin-left: 62.5%;
}

.col-xs-offset-reverse-15 {
  margin-left: -62.5%;
}

.col-xs-16 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 66.66667%;
  flex-basis: 66.66667%;
  max-width: 66.66667%;
}

.col-xs-offset-16 {
  margin-left: 66.66667%;
}

.col-xs-offset-reverse-16 {
  margin-left: -66.66667%;
}

.col-xs-17 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 70.83333%;
  flex-basis: 70.83333%;
  max-width: 70.83333%;
}

.col-xs-offset-17 {
  margin-left: 70.83333%;
}

.col-xs-offset-reverse-17 {
  margin-left: -70.83333%;
}

.col-xs-18 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-offset-18 {
  margin-left: 75%;
}

.col-xs-offset-reverse-18 {
  margin-left: -75%;
}

.col-xs-19 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 79.16667%;
  flex-basis: 79.16667%;
  max-width: 79.16667%;
}

.col-xs-offset-19 {
  margin-left: 79.16667%;
}

.col-xs-offset-reverse-19 {
  margin-left: -79.16667%;
}

.col-xs-20 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 83.33333%;
  flex-basis: 83.33333%;
  max-width: 83.33333%;
}

.col-xs-offset-20 {
  margin-left: 83.33333%;
}

.col-xs-offset-reverse-20 {
  margin-left: -83.33333%;
}

.col-xs-21 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 87.5%;
  flex-basis: 87.5%;
  max-width: 87.5%;
}

.col-xs-offset-21 {
  margin-left: 87.5%;
}

.col-xs-offset-reverse-21 {
  margin-left: -87.5%;
}

.col-xs-22 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 91.66667%;
  flex-basis: 91.66667%;
  max-width: 91.66667%;
}

.col-xs-offset-22 {
  margin-left: 91.66667%;
}

.col-xs-offset-reverse-22 {
  margin-left: -91.66667%;
}

.col-xs-23 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 95.83333%;
  flex-basis: 95.83333%;
  max-width: 95.83333%;
}

.col-xs-offset-23 {
  margin-left: 95.83333%;
}

.col-xs-offset-reverse-23 {
  margin-left: -95.83333%;
}

.col-xs-24 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-24 {
  margin-left: 100%;
}

.col-xs-offset-reverse-24 {
  margin-left: -100%;
}

.col-xs {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.start-xs {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

.end-xs {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
}

.middle-xs {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.bottom-xs {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end;
}

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between-xs {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.first-xs {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1;
}

.last-xs {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
}

@media only screen and (min-width: 640px) {
  .col-sm-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 4.16667%;
    flex-basis: 4.16667%;
    max-width: 4.16667%;
  }
  .col-sm-offset-1 {
    margin-left: 4.16667%;
  }
  .col-sm-offset-reverse-1 {
    margin-left: -4.16667%;
  }
  .col-sm-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-offset-2 {
    margin-left: 8.33333%;
  }
  .col-sm-offset-reverse-2 {
    margin-left: -8.33333%;
  }
  .col-sm-3 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 12.5%;
    flex-basis: 12.5%;
    max-width: 12.5%;
  }
  .col-sm-offset-3 {
    margin-left: 12.5%;
  }
  .col-sm-offset-reverse-3 {
    margin-left: -12.5%;
  }
  .col-sm-4 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-offset-4 {
    margin-left: 16.66667%;
  }
  .col-sm-offset-reverse-4 {
    margin-left: -16.66667%;
  }
  .col-sm-5 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 20.83333%;
    flex-basis: 20.83333%;
    max-width: 20.83333%;
  }
  .col-sm-offset-5 {
    margin-left: 20.83333%;
  }
  .col-sm-offset-reverse-5 {
    margin-left: -20.83333%;
  }
  .col-sm-6 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-sm-offset-6 {
    margin-left: 25%;
  }
  .col-sm-offset-reverse-6 {
    margin-left: -25%;
  }
  .col-sm-7 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 29.16667%;
    flex-basis: 29.16667%;
    max-width: 29.16667%;
  }
  .col-sm-offset-7 {
    margin-left: 29.16667%;
  }
  .col-sm-offset-reverse-7 {
    margin-left: -29.16667%;
  }
  .col-sm-8 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-offset-8 {
    margin-left: 33.33333%;
  }
  .col-sm-offset-reverse-8 {
    margin-left: -33.33333%;
  }
  .col-sm-9 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 37.5%;
    flex-basis: 37.5%;
    max-width: 37.5%;
  }
  .col-sm-offset-9 {
    margin-left: 37.5%;
  }
  .col-sm-offset-reverse-9 {
    margin-left: -37.5%;
  }
  .col-sm-10 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-offset-10 {
    margin-left: 41.66667%;
  }
  .col-sm-offset-reverse-10 {
    margin-left: -41.66667%;
  }
  .col-sm-11 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 45.83333%;
    flex-basis: 45.83333%;
    max-width: 45.83333%;
  }
  .col-sm-offset-11 {
    margin-left: 45.83333%;
  }
  .col-sm-offset-reverse-11 {
    margin-left: -45.83333%;
  }
  .col-sm-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-sm-offset-12 {
    margin-left: 50%;
  }
  .col-sm-offset-reverse-12 {
    margin-left: -50%;
  }
  .col-sm-13 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 54.16667%;
    flex-basis: 54.16667%;
    max-width: 54.16667%;
  }
  .col-sm-offset-13 {
    margin-left: 54.16667%;
  }
  .col-sm-offset-reverse-13 {
    margin-left: -54.16667%;
  }
  .col-sm-14 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-offset-14 {
    margin-left: 58.33333%;
  }
  .col-sm-offset-reverse-14 {
    margin-left: -58.33333%;
  }
  .col-sm-15 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 62.5%;
    flex-basis: 62.5%;
    max-width: 62.5%;
  }
  .col-sm-offset-15 {
    margin-left: 62.5%;
  }
  .col-sm-offset-reverse-15 {
    margin-left: -62.5%;
  }
  .col-sm-16 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-offset-16 {
    margin-left: 66.66667%;
  }
  .col-sm-offset-reverse-16 {
    margin-left: -66.66667%;
  }
  .col-sm-17 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 70.83333%;
    flex-basis: 70.83333%;
    max-width: 70.83333%;
  }
  .col-sm-offset-17 {
    margin-left: 70.83333%;
  }
  .col-sm-offset-reverse-17 {
    margin-left: -70.83333%;
  }
  .col-sm-18 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-sm-offset-18 {
    margin-left: 75%;
  }
  .col-sm-offset-reverse-18 {
    margin-left: -75%;
  }
  .col-sm-19 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 79.16667%;
    flex-basis: 79.16667%;
    max-width: 79.16667%;
  }
  .col-sm-offset-19 {
    margin-left: 79.16667%;
  }
  .col-sm-offset-reverse-19 {
    margin-left: -79.16667%;
  }
  .col-sm-20 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-offset-20 {
    margin-left: 83.33333%;
  }
  .col-sm-offset-reverse-20 {
    margin-left: -83.33333%;
  }
  .col-sm-21 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 87.5%;
    flex-basis: 87.5%;
    max-width: 87.5%;
  }
  .col-sm-offset-21 {
    margin-left: 87.5%;
  }
  .col-sm-offset-reverse-21 {
    margin-left: -87.5%;
  }
  .col-sm-22 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-offset-22 {
    margin-left: 91.66667%;
  }
  .col-sm-offset-reverse-22 {
    margin-left: -91.66667%;
  }
  .col-sm-23 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 95.83333%;
    flex-basis: 95.83333%;
    max-width: 95.83333%;
  }
  .col-sm-offset-23 {
    margin-left: 95.83333%;
  }
  .col-sm-offset-reverse-23 {
    margin-left: -95.83333%;
  }
  .col-sm-24 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-sm-offset-24 {
    margin-left: 100%;
  }
  .col-sm-offset-reverse-24 {
    margin-left: -100%;
  }
  .col-sm {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .start-sm {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-sm {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-sm {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-sm {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .middle-sm {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }
  .bottom-sm {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }
  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-sm {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .first-sm {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }
  .last-sm {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}

@media only screen and (min-width: 960px) {
  .col-md-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 4.16667%;
    flex-basis: 4.16667%;
    max-width: 4.16667%;
  }
  .col-md-offset-1 {
    margin-left: 4.16667%;
  }
  .col-md-offset-reverse-1 {
    margin-left: -4.16667%;
  }
  .col-md-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-offset-2 {
    margin-left: 8.33333%;
  }
  .col-md-offset-reverse-2 {
    margin-left: -8.33333%;
  }
  .col-md-3 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 12.5%;
    flex-basis: 12.5%;
    max-width: 12.5%;
  }
  .col-md-offset-3 {
    margin-left: 12.5%;
  }
  .col-md-offset-reverse-3 {
    margin-left: -12.5%;
  }
  .col-md-4 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-offset-4 {
    margin-left: 16.66667%;
  }
  .col-md-offset-reverse-4 {
    margin-left: -16.66667%;
  }
  .col-md-5 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 20.83333%;
    flex-basis: 20.83333%;
    max-width: 20.83333%;
  }
  .col-md-offset-5 {
    margin-left: 20.83333%;
  }
  .col-md-offset-reverse-5 {
    margin-left: -20.83333%;
  }
  .col-md-6 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-offset-6 {
    margin-left: 25%;
  }
  .col-md-offset-reverse-6 {
    margin-left: -25%;
  }
  .col-md-7 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 29.16667%;
    flex-basis: 29.16667%;
    max-width: 29.16667%;
  }
  .col-md-offset-7 {
    margin-left: 29.16667%;
  }
  .col-md-offset-reverse-7 {
    margin-left: -29.16667%;
  }
  .col-md-8 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-offset-8 {
    margin-left: 33.33333%;
  }
  .col-md-offset-reverse-8 {
    margin-left: -33.33333%;
  }
  .col-md-9 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 37.5%;
    flex-basis: 37.5%;
    max-width: 37.5%;
  }
  .col-md-offset-9 {
    margin-left: 37.5%;
  }
  .col-md-offset-reverse-9 {
    margin-left: -37.5%;
  }
  .col-md-10 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-offset-10 {
    margin-left: 41.66667%;
  }
  .col-md-offset-reverse-10 {
    margin-left: -41.66667%;
  }
  .col-md-11 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 45.83333%;
    flex-basis: 45.83333%;
    max-width: 45.83333%;
  }
  .col-md-offset-11 {
    margin-left: 45.83333%;
  }
  .col-md-offset-reverse-11 {
    margin-left: -45.83333%;
  }
  .col-md-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-offset-12 {
    margin-left: 50%;
  }
  .col-md-offset-reverse-12 {
    margin-left: -50%;
  }
  .col-md-13 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 54.16667%;
    flex-basis: 54.16667%;
    max-width: 54.16667%;
  }
  .col-md-offset-13 {
    margin-left: 54.16667%;
  }
  .col-md-offset-reverse-13 {
    margin-left: -54.16667%;
  }
  .col-md-14 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-offset-14 {
    margin-left: 58.33333%;
  }
  .col-md-offset-reverse-14 {
    margin-left: -58.33333%;
  }
  .col-md-15 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 62.5%;
    flex-basis: 62.5%;
    max-width: 62.5%;
  }
  .col-md-offset-15 {
    margin-left: 62.5%;
  }
  .col-md-offset-reverse-15 {
    margin-left: -62.5%;
  }
  .col-md-16 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-offset-16 {
    margin-left: 66.66667%;
  }
  .col-md-offset-reverse-16 {
    margin-left: -66.66667%;
  }
  .col-md-17 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 70.83333%;
    flex-basis: 70.83333%;
    max-width: 70.83333%;
  }
  .col-md-offset-17 {
    margin-left: 70.83333%;
  }
  .col-md-offset-reverse-17 {
    margin-left: -70.83333%;
  }
  .col-md-18 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-offset-18 {
    margin-left: 75%;
  }
  .col-md-offset-reverse-18 {
    margin-left: -75%;
  }
  .col-md-19 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 79.16667%;
    flex-basis: 79.16667%;
    max-width: 79.16667%;
  }
  .col-md-offset-19 {
    margin-left: 79.16667%;
  }
  .col-md-offset-reverse-19 {
    margin-left: -79.16667%;
  }
  .col-md-20 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-offset-20 {
    margin-left: 83.33333%;
  }
  .col-md-offset-reverse-20 {
    margin-left: -83.33333%;
  }
  .col-md-21 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 87.5%;
    flex-basis: 87.5%;
    max-width: 87.5%;
  }
  .col-md-offset-21 {
    margin-left: 87.5%;
  }
  .col-md-offset-reverse-21 {
    margin-left: -87.5%;
  }
  .col-md-22 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-offset-22 {
    margin-left: 91.66667%;
  }
  .col-md-offset-reverse-22 {
    margin-left: -91.66667%;
  }
  .col-md-23 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 95.83333%;
    flex-basis: 95.83333%;
    max-width: 95.83333%;
  }
  .col-md-offset-23 {
    margin-left: 95.83333%;
  }
  .col-md-offset-reverse-23 {
    margin-left: -95.83333%;
  }
  .col-md-24 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-offset-24 {
    margin-left: 100%;
  }
  .col-md-offset-reverse-24 {
    margin-left: -100%;
  }
  .col-md {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .start-md {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-md {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-md {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-md {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .middle-md {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }
  .bottom-md {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }
  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-md {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .first-md {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }
  .last-md {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 4.16667%;
    flex-basis: 4.16667%;
    max-width: 4.16667%;
  }
  .col-lg-offset-1 {
    margin-left: 4.16667%;
  }
  .col-lg-offset-reverse-1 {
    margin-left: -4.16667%;
  }
  .col-lg-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-offset-2 {
    margin-left: 8.33333%;
  }
  .col-lg-offset-reverse-2 {
    margin-left: -8.33333%;
  }
  .col-lg-3 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 12.5%;
    flex-basis: 12.5%;
    max-width: 12.5%;
  }
  .col-lg-offset-3 {
    margin-left: 12.5%;
  }
  .col-lg-offset-reverse-3 {
    margin-left: -12.5%;
  }
  .col-lg-4 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-offset-4 {
    margin-left: 16.66667%;
  }
  .col-lg-offset-reverse-4 {
    margin-left: -16.66667%;
  }
  .col-lg-5 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 20.83333%;
    flex-basis: 20.83333%;
    max-width: 20.83333%;
  }
  .col-lg-offset-5 {
    margin-left: 20.83333%;
  }
  .col-lg-offset-reverse-5 {
    margin-left: -20.83333%;
  }
  .col-lg-6 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-lg-offset-6 {
    margin-left: 25%;
  }
  .col-lg-offset-reverse-6 {
    margin-left: -25%;
  }
  .col-lg-7 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 29.16667%;
    flex-basis: 29.16667%;
    max-width: 29.16667%;
  }
  .col-lg-offset-7 {
    margin-left: 29.16667%;
  }
  .col-lg-offset-reverse-7 {
    margin-left: -29.16667%;
  }
  .col-lg-8 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-offset-8 {
    margin-left: 33.33333%;
  }
  .col-lg-offset-reverse-8 {
    margin-left: -33.33333%;
  }
  .col-lg-9 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 37.5%;
    flex-basis: 37.5%;
    max-width: 37.5%;
  }
  .col-lg-offset-9 {
    margin-left: 37.5%;
  }
  .col-lg-offset-reverse-9 {
    margin-left: -37.5%;
  }
  .col-lg-10 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-offset-10 {
    margin-left: 41.66667%;
  }
  .col-lg-offset-reverse-10 {
    margin-left: -41.66667%;
  }
  .col-lg-11 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 45.83333%;
    flex-basis: 45.83333%;
    max-width: 45.83333%;
  }
  .col-lg-offset-11 {
    margin-left: 45.83333%;
  }
  .col-lg-offset-reverse-11 {
    margin-left: -45.83333%;
  }
  .col-lg-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-lg-offset-12 {
    margin-left: 50%;
  }
  .col-lg-offset-reverse-12 {
    margin-left: -50%;
  }
  .col-lg-13 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 54.16667%;
    flex-basis: 54.16667%;
    max-width: 54.16667%;
  }
  .col-lg-offset-13 {
    margin-left: 54.16667%;
  }
  .col-lg-offset-reverse-13 {
    margin-left: -54.16667%;
  }
  .col-lg-14 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-offset-14 {
    margin-left: 58.33333%;
  }
  .col-lg-offset-reverse-14 {
    margin-left: -58.33333%;
  }
  .col-lg-15 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 62.5%;
    flex-basis: 62.5%;
    max-width: 62.5%;
  }
  .col-lg-offset-15 {
    margin-left: 62.5%;
  }
  .col-lg-offset-reverse-15 {
    margin-left: -62.5%;
  }
  .col-lg-16 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-offset-16 {
    margin-left: 66.66667%;
  }
  .col-lg-offset-reverse-16 {
    margin-left: -66.66667%;
  }
  .col-lg-17 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 70.83333%;
    flex-basis: 70.83333%;
    max-width: 70.83333%;
  }
  .col-lg-offset-17 {
    margin-left: 70.83333%;
  }
  .col-lg-offset-reverse-17 {
    margin-left: -70.83333%;
  }
  .col-lg-18 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-lg-offset-18 {
    margin-left: 75%;
  }
  .col-lg-offset-reverse-18 {
    margin-left: -75%;
  }
  .col-lg-19 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 79.16667%;
    flex-basis: 79.16667%;
    max-width: 79.16667%;
  }
  .col-lg-offset-19 {
    margin-left: 79.16667%;
  }
  .col-lg-offset-reverse-19 {
    margin-left: -79.16667%;
  }
  .col-lg-20 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-offset-20 {
    margin-left: 83.33333%;
  }
  .col-lg-offset-reverse-20 {
    margin-left: -83.33333%;
  }
  .col-lg-21 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 87.5%;
    flex-basis: 87.5%;
    max-width: 87.5%;
  }
  .col-lg-offset-21 {
    margin-left: 87.5%;
  }
  .col-lg-offset-reverse-21 {
    margin-left: -87.5%;
  }
  .col-lg-22 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-offset-22 {
    margin-left: 91.66667%;
  }
  .col-lg-offset-reverse-22 {
    margin-left: -91.66667%;
  }
  .col-lg-23 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 95.83333%;
    flex-basis: 95.83333%;
    max-width: 95.83333%;
  }
  .col-lg-offset-23 {
    margin-left: 95.83333%;
  }
  .col-lg-offset-reverse-23 {
    margin-left: -95.83333%;
  }
  .col-lg-24 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-lg-offset-24 {
    margin-left: 100%;
  }
  .col-lg-offset-reverse-24 {
    margin-left: -100%;
  }
  .col-lg {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .start-lg {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-lg {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-lg {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-lg {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .middle-lg {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }
  .bottom-lg {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }
  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-lg {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .first-lg {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }
  .last-lg {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}

.row {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row:before,
.row:after {
  display: block;
  content: "";
  position: absolute;
}

.row.reverse {
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.col.reverse {
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}
/*# sourceMappingURL=grid.css.map */