@import "utils";
@import "variables";

.program__title {
	font-size: 64px;
	line-height: 1;
	color: $font-black;
	@media (max-width: 40em) {
		font-size: 32px;
	}
	@media (max-width: 60em) {
		font-size: 48px;
	}
	@media (max-width: 75em) {
	}
}

.program__description {
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 100;
	color: $font-black;
	line-height: 1.6;
	@media (max-width: 40em) {
		font-size: 16px;
		margin-top: 1em;
	}
	@media (max-width: 60em) {
		font-size: 16px;
		margin-top: 1em;
	}
}

.article__title {
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	font-size: 30px;
	color: #231f20;
	line-height: 1;
	margin-bottom: 0.8em;
	@media (max-width: 60em) {
		font-size: 24px;
	}
	@media (max-width: 40em) {
		font-size: 20px;
	}
}
.article__paragraph {
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 100;
	line-height: 1.4;
	color: #231f20;
	@media (max-width: 60em) {
		font-size: 16px;
	}
	@media (max-width: 40em) {
		font-size: 16px;
	}
}
.project {
	margin-top: 7.5em;
	margin-bottom: 2.5em;
	&__title {
		font-family: 'Montserrat', sans-serif;
		font-size: 46.24px;
		font-weight: 700;
		@media (max-width: 60em) {
			font-size: 30px;
		}
		@media (max-width: 40em) {
			font-size: 24px;
		}
		&--red {
			color: #f66241;
		}
		&--blue {
			color: #4d80ea;
		}
		&--green {
			color: #35da80;
		}
	}
	&__desc {
		margin-top: 1em;
		line-height: 1;
		padding-right: 2.5em;
	}
	&__item {
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: 200;
		@media (max-width: 60em) {
			font-size: 14px;
		}
		@media (max-width: 40em) {
			font-size: 12px;
		}
	}
	&__name {
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: 300;
		margin-right: 2em;
		@media (max-width: 60em) {
			font-size: 14px;
		}
		@media (max-width: 40em) {
			font-size: 12px;
		}
	}
}

// @for $j from 1 through 4 {
// 	@if $j == 1 {

// 	} @else if($j>=2) {
// 		@media only screen and (min-width: nth($media, $j)) {
// 			.program__description {
// 				font-size: pxToVw(18)*1vw;
// 				font-family: 'Source Sans Pro', sans-serif;
// 				font-weight: 100;
// 				color: $font-black;
// 				margin-top: 0;
// 			}
// 			.program__title {
// 				font-size: 55.22px;
// 				line-height: 1;
// 				color: $font-black;
// 			}
// 			.article__title {
// 				display: block;
// 				font-family: 'Montserrat', sans-serif;
// 				font-weight: 100;
// 				font-size: pxToVw(30)*1vw;
// 				color: #231f20;
// 				line-height: 1;
// 			}
// 			.article__paragraph {
// 				font-size: pxToVw(18)*1vw;
// 				font-family: 'Source Sans Pro', sans-serif;
// 				font-weight: 100;
// 				line-height: 1.4;
// 				color: #231f20;
// 			}
// 			.project {
// 				margin-top: 7.5vw;
// 				margin-bottom: 2.5vw;
// 				&__title {
// 					font-family: 'Montserrat', sans-serif;
// 					font-size: pxToVw(46.24)*1vw;
// 					font-weight: 700;
// 					&--red {
// 						color: #f66241;
// 					}
// 					&--blue {
// 						color: #4d80ea;
// 					}
// 					&--green {
// 						color: #35da80;
// 					}
// 				}
// 				&__desc {
// 					margin-top: 1.5vw;
// 					line-height: 1.4;
// 				}
// 				&__item {
// 					font-family: 'Montserrat', sans-serif;
// 					font-size: pxToVw(15.78)*1vw;
// 					font-weight: 200;
// 				}
// 				&__name {
// 					font-family: 'Montserrat', sans-serif;
// 					font-size: pxToVw(15.78)*1vw;
// 					font-weight: 300;
// 					margin-right: 2vw;
// 				}
// 			}
// 		}
// 	}
// }

.section__title {
	font-family: 'Montserrat', sans-serif;
	font-size: 50.65px;
	color: $font-black;
	line-height: 1;
	margin-bottom: 1em;
	font-weight: 100;
	@media (max-width: 60em) {
		font-size: 40px;
	}
	@media (max-width: 40em) {
		font-size: 30px;
	}
}
.section__description {
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 100;
	color: $font-black;
	@media (max-width: 60em) {
		font-size: 16px;
	}
	@media (max-width: 40em) {
		font-size: 16px;
	}
}
.section__description--reverse {
	color: #fff;
}

.article__paragraph--reverse {
	color: #fff;
}

// implementation

.align--justify {
	text-align: justify;
}
