@import "utils";
@import "variables";

.program__title {
  font-size: pxToVw(55.22)*1vw;
  line-height: 1;
  color: $font-black;
}
.program__description {
  font-size: pxToVw(21.28)*1vw;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  color: $font-black;
}

.section__title{
  font-family: 'geometria_lightlight';
  font-size: pxToVw(50.65)*1vw;
  color: $font-black;
  line-height: 1;
  margin-bottom: 3vw;
}
.section__description{
  font-size: pxToVw(18)*1vw;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  color: $font-black;
}
.section__description--reverse{
  color: #fff;
}



.article__title{
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: pxToVw(140)*1vw;
  color: #f1f1f1;
  line-height: 1;
}
.article__paragraph{
  font-size: pxToVw(14)*1vw;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  color: #231f20;
}
.article__paragraph--reverse{
  color: #fff;
}
