.topics {
  position: relative;
  width: 100%;
  padding-top: 91.1956%;
  background: #fff; }

.topics-typo {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 11.6666666667vw;
  color: #e5e5e4; }

.TRex {
  position: relative;
  width: calc(100% - 1.25vw);
  padding-top: 64.94%;
  background: #fff;
  z-index: 1; }

.Trex__bg {
  background: #f5b855;
  margin-left: 1.25vw;
  margin-top: 1.25vw; }

.pwa {
  position: relative;
  width: 100%;
  padding-top: 101.208%;
  background: #4d84f1;
  left: -1.25vw; }

.pwa__guide {
  width: auto;
  border: 1px solid #4d84f1; }

.questions {
  position: relative;
  width: 100%;
  padding-top: 90.9374%;
  left: 1.25vw; }

.chrome {
  position: relative;
  width: 100%;
  padding-top: 57%;
  z-index: 1; }

.post--dummy {
  position: relative;
  width: 100%;
  padding-top: 46.557%;
  background: #ececf0; }
  .post--dummy .post--dummy__inner {
    height: 100%; }
  .post--dummy .lines {
    width: 79.47%; }
  .post--dummy .line {
    width: 100%;
    padding-top: 4.416%;
    background: #dcdce2;
    margin-bottom: 4.416%; }
    .post--dummy .line:nth-of-type(3) {
      width: 61.8%; }
    .post--dummy .line:nth-of-type(4) {
      width: 38.19%; }

.fb-like {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background: #ffffff;
  z-index: 1; }

.text-increasing {
  position: relative;
  width: 100%;
  padding-top: 42.6234%; }

.dot-bg {
  position: relative;
  width: 100%;
  padding-top: 133.3333%; }

.idea .title {
  font-size: 3.495vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200; }
  .idea .title--orange {
    color: #f4b755; }
  .idea .title--blue {
    color: #4d84f1; }
  .idea .title--green {
    color: #35e085; }
  .idea .title--center {
    text-align: center; }
.idea .desc {
  font-size: 1.1666666667vw;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300; }
  .idea .desc--below {
    margin-top: 2vw; }

.phone-portrait {
  position: relative;
  width: 100%;
  padding-top: 176.5%; }

.phone-landscape {
  position: relative;
  width: 100%;
  padding-top: 56.5611%; }

.flow-bg {
  position: relative;
  width: 100%;
  padding-top: 50%;
  background: #252525; }

.gesture-bg {
  position: relative;
  width: 100%;
  padding-top: 50%; }
  .gesture-bg:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: skew(-15deg) rotate(-15deg);
    -moz-transform: skew(-15deg) rotate(-15deg);
    -o-transform: skew(-15deg) rotate(-15deg);
    background: #7259a6;
    /* Old browsers */
    background: -moz-linear-gradient(75deg, #7259a6 0%, #e771ab 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(75deg, #7259a6 0%, #e771ab 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(75deg, #7259a6 0%, #e771ab 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7259a6', endColorstr='#e771ab',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }

.gesture1 {
  position: relative;
  width: 100%;
  padding-top: 100%; }

.gesture2 {
  position: relative;
  width: 100%;
  padding-top: 185.1653%; }

.game {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background: #fff; }

.presentation {
  position: relative;
  width: 100%;
  padding-top: 61.8038%;
  background: #fff; }

/*# sourceMappingURL=ndf.css.map */
